
html {
    /* default font normally 16px */
    /* (16)(.625)  = 10 */
    /* now 1rem will equal 10px */
    font-size: 62.5%;
}

html, body, header, main, section, article, footer, div, a, ul, li, h1, h2, h3, p {
    /* simple reset - resets browser's default styling */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */

/* header will contain: */
/*      all screen sizes (resolutions): */
/*              the logo: THE ENDLESS JOURNEY */
/*      large screen sizes (resolutions): */
/*              navigation links: SPONSORS / MUSIC / PICTURES / MAP / BLOG */
header {
    font-family: 'Roboto', sans-serif;
    color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}

/* logo: THE ENDLESS JOURNEY */
#logo {

    /* make a large touch target */
    /* expand the element to fill height */
    height: 100%;

    /* make a large touch target */
    /* expand the element to fill width
    along primary axis ( horizontally ) */
    flex-grow: 1;

    /* font styling */
    color: #333;
    font-size: 2rem;
    letter-spacing: 2px;
    text-transform: uppercase;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* change the logo's text color when mouse hover's over it */
#logo:hover {
    color: #0266C8;
}


/* disable menu in header */
/* on small devices, menu is displayed below the fold */
/* nav desktop (nd) */
.nd {
    display: none;
}
