<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <header>
    <h2> I sell my Mom's Craft</h2>
  </header>
</body>
</html>
