<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Craft</title>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,300|Roboto:400,300' rel='stylesheet'>
  <link rel="stylesheet" href="css/main.css">
</head>
<body>
  <header>
      <h1 id="logo">Hakuna Matata</h1>
      <!-- nav desktop (nd) -->
      <ul class="nd">
          <li><a href="about">About Craft</a></li>
          <li><a href="#">Menu</a></li>
          <li><a href="#">Cart</a></li>
      </ul>
  </header>
</body>
</html>
